<?xml version="1.0" encoding="utf-8" ?>
<!--
    Setup your exchange account information here
    This file is copied to every project so you should only have to configure it once!
    p.s. Remmeber not to commit this file after you've change it if you decide to
    provide a pull request. ;-)
-->
<configuration>
    <appSettings>
        <!--
            Basic account information
        -->
        <add key="username" value="myaccount@myaccount.onmicrosoft.com"/>
        <add key="password" value="supersecret"/>
        <!--
            Office 365 Developer Exchange URL
            If you don't know yours you can leave this value empty and each
            project will likely auto discover this url (just keep in mind
            that when it's not explicitly supplied the connection time is
            usually a little longer). Also, if you do auto discover this you
            can always view service.Url after AutodiscoverUrl has executed
            and thenplace that value here.
        -->
        <add key="ews" value="https://outlook.office365.com/EWS/Exchange.asmx"/>
    </appSettings>
</configuration>